* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.root-element, .layout-wrapper {
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}
